<section class="hero is-dark is-fullheight-with-navbar">
    <div class="hero-body">
      <!-- <div class="container has-text-centered">
        <p class="title">
          SI
        </p>
        <p class="subtitle">
          No
        </p>
      </div> -->
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
          <div class="tile">
            <div class="tile is-parent is-vertical">
              <article class="tile is-child notification is-black">
                <p class="title">Me siento...</p>
                <p class="subtitle">
                  En efecto, triste
                </p>
              </article>
              <article class="tile is-child notification is-primary">
                <p class="title">Mi nombre</p>
                <p class="subtitle">Hiram</p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child notification is-info">
                <p class="title">Esta es</p>
                <p class="subtitle">Algo aqui, no se</p>
                <figure class="image is-4by3">
                  <img src="../../assets/img/caracol.jfif" width="1024" height="1024">
                </figure>
              </article>
            </div>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification is-danger">
              <p class="title">Me gusta</p>
              <p class="subtitle">Ver mucho internet</p>
              <div class="content">
                <!-- Content -->
              </div>
            </article>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-success">
            <div class="content">
              <p class="title">Esta es kina:</p>
              <div class="content">
                <!-- Content -->
                  <img src="../../assets/img/kina.jfif" width="1199" height="1407">
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
    
  </section>